
body {
  background-color: #ffd1f1;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-shrink: 1 */
}

#align-banner-and-content {

}

#banner {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  background: linear-gradient(#ee97e1 5%, transparent 10%),
    linear-gradient(90deg, #ee97e1 5%, transparent 10%)1px 0, #b0eee2;
  background-size: 22px 22px;
  box-shadow: 0px 3px 2px 2px #b69ea8; /* horizontal offset, vertical offset, blur, spread. */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

}

h1 {
  font-size: 70px;
  color: #f48fb1;
  text-shadow:
               -4px 4px #7e57c2,
               -8px 8px #2196f3,
               -12px 12px #26c6da;
  /* filter: drop-shadow(3px 3px 1px #a093c3) */
}

#banner-align {
  display:flex;
  align-items: center;
  justify-content: center;
}

#content {
  min-height: 1000px;
  padding: 10px;
  background-color: #fbebff;
  box-shadow: 0px 3px 2px 2px #b69ea8;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* flex-grow: 1; */
}

.info {
  font-family: sans-serif;
  font-size: 20px;
  color: #da7b9b;
}

#description {
  padding-top: 15px;
  padding-bottom: 15px;
}

#instructions {
  padding: 10px;
}

ul {
  list-style: none;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: space-between; */
  gap: 10px;
}

input {
  font-size: 16px;
  font-family: monospace;
  color: #46a18f;
  background-color: #effcf9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearancee:none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#inputs {
  /* height: 100px; */
  /* max-width: 200px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-fields {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

code {
  font-size: 17px;
  color: #46a18f;
}

button {
  height: 30px;
  width: 150px;
  color: #009479;
  margin-top: 15px;
  font-size: 18px;
  background-color: #b0eee2;
}

.change-color {
  background-color: #eeceff;
}

.display-array {
  font-size: 20px;
  color: #009479;
  max-width: 1125px;
  margin-top: 5px;
  padding: 10px;
  background-color: #effcf9;
  box-shadow: 2px 2px 0px 0px #b69ea8 inset;
  display: none;
  visibility: hidden;
}
