body {
  background-color: #fdf2e9;
  font-family: monospace;
}

#banner {
  height: 100px;
  width: 500px;
  background: linear-gradient(#eee 5%, transparent 1%),
    linear-gradient(90deg, #eee 5%, transparent 1%)1px 0, #fff;
  background-size: 22px 22px;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 50px
}
